<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Form</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      input[type="submit"] {
        background-color: #121212;
        color: white;
        padding: 6px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Students</h1>
    <div>
      <h3>Add New Student</h3>
      <form action="/student" method="post">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" />
        </div>
        <div>
          <label for="age">Age</label>
          <input type="text" id="age" name="age" />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" />
        </div>
        <div>
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" />
        </div>
        <div>
          <label for="address">Address</label>
          <input type="textarea" id="address" name="address" />
        </div>
        <input type="submit" value="Add" />
      </form>
    </div>
    <hr />
    <div>
      <h3>Students</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach(function(student) { %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><%= student.email %></td>
            <td><%= student.phone %></td>
            <td><%= student.address %></td>
            <td>
              <form
                action="/student/<%= student.id %>?_method=DELETE"
                method="post"
              >
                <input type="submit" value="Delete" />
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
